In [13]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import pandas as pd 
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error as mse
from xgboost import XGBRegressor,XGBClassifier
from xgboost import plot_importance
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold

In [14]:
data=pd.read_csv('./data/happiness_train_complete_count.csv')
data = data.fillna(0).drop(["property_other","invest_other","edu_other",'survey_time'],axis=1)
y = data["happiness"].apply(lambda x: 1 if x>0 else 0)

In [15]:
data[data["happiness"]<0][["miss","id"]]

      miss    id
609      5   610
1064    17  1065
1419    70  1420
1702     9  1703
2700    85  2701
2884    39  2885
3058     4  3059
3198    11  3199
3946    21  3947
5619    36  5620
5896    17  5897
7081     7  7082

In [16]:
x = data.drop(['happiness','id'],axis=1)
# Split data into train and test setsPython
X_train, X_test, Y_train, Y_test = train_test_split(x, y, 
                                                    test_size=0.2, 
                                                    random_state=123)

# scaling data
scaler = preprocessing.StandardScaler().fit(X_train)
x_scaled = scaler.transform(x)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

/home/x/.local/lib/python3.6/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/x/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  if __name__ == '__main__':
/home/x/.local/lib/python3.6/site-packages/ipykernel_launcher.py:10: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  # Remove the CWD from sys.path while we load stuff.
/home/x/.local/lib/python3.6/site-packages/ipykernel_launcher.py:11: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  # This is added back by InteractiveShellApp.init_path()

In [17]:
# 拟合XGBoost模型
model = XGBRegressor()
model.fit(X_train_scaled, Y_train)

/home/x/.local/lib/python3.6/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, importance_type='gain',
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [18]:
res =list(model.predict(x_scaled))

In [20]:
count=0
for i in range(len(y)):
    if(round(res[i])!=y[i]):
        count+=1
count

1

In [23]:
test_data=pd.read_csv('./data/happiness_test_complete_count.csv')
test_data = test_data.fillna(0).drop(["property_other","invest_other","edu_other",'survey_time','id'],axis=1)
test_data.head()

,survey_type,province,city,county,gender,birth,nationality,religion,religion_freq,edu,...,public_service_1,public_service_2,public_service_3,public_service_4,public_service_5,public_service_6,public_service_7,public_service_8,public_service_9,miss
0,1,2,2,9,2,1972,8,0,1,4,...,80,80.0,60,80,80,80,80,80,80,2
1,1,22,66,106,2,1938,1,1,1,4,...,90,80.0,80,80,80,80,70,80,80,4
2,2,9,22,44,2,1935,1,1,1,1,...,95,95.0,80,90,80,95,95,80,90,2
3,2,18,52,86,2,1992,1,1,1,4,...,80,80.0,70,90,80,80,70,60,50,1
4,2,24,70,110,1,1990,1,1,2,1,...,60,50.0,0,30,40,50,60,-2,60,8

In [24]:
test_data_scaled = scaler.transform(test_data)
final =model.predict(test_data_scaled).tolist()

/home/x/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [35]:
count=0
for i in range(len(Y_test)):
    if(final[i]<0.7):
        print(i+8001)

8286
9074

In [34]:
test_data['county'][1073]

2

In [ ]:
len(final)

In [ ]:
res =list(model.predict(X_test_scaled))